:root{
    --accent-background-color: mediumblue;
    --content-background-color: #252525;
    --page-background-color: #303030;
    --background-highligh-color: #353535;
    --heading-font:  "Bebas Neue", Impact, sans-serif;
	--body-font: "Open Sans", Verdana, sans-serif;
    --monospaced-font: "Monaco", Monospace;
}

nav li a:hover {
    color: green;
}

header {
    text-align: center;
    background-color: var(--accent-background-color);
    padding-top: 8px;
    min-width: 100%;
    font-family: var(--heading-font);
}

header nav {
    margin-top: 8px;
}

header nav, header nav * {
    background-color: var(--content-background-color);
    font-size: 18px;
    padding: 2px;
}

a {
    text-decoration: none;
}

header nav {
    display: flex;
    justify-content: space-around;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--page-background-color);
    color: #eee;
}

body {
    justify-content: center;
    justify-items: center;
    background-color: var(--content-background-color);
    max-width: 800px;
}

body * {
    background-color: var(--content-background-color);
    list-style: none;
}

main p, main ul {
    padding-left: 15px;
    font-family: var(--body-font);
}

* h1 {
    font-size: 25px;
    font-family: var(--heading-font);
}

h1 {
    background-color: var(--accent-background-color);
    text-align: center;
    font-family: var(--heading-font);
    font-size: 25px;
}

h2 {
    font-family: var(--heading-font);
    font-size: 20px;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 0;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: #252525;
}

.hero article p {
    background-color: #ef2d5700;
    color: #000;
}

.hero article {
    position: absolute;
    top: 100px;
    right: 25px;
    width: 65%;
    padding: 5px 15px;
    text-align: center;
    background-color: #ef2d57af;
    display: flex;
}

.hero article img {
    width: 150px;
    height: auto;
    position: relative;
    z-index: 10;
    opacity: 0.9;
    flex-shrink: 0;
    object-fit: contain;
    background-color: #ef2d5700;
}

.card, .card * {
    background-color: #202020;
}

/* .card {
    margin: 10px 0;
    display: flex;
    align-items: flex-start;
} */

/* .card h3 {
    justify-self: left;
    margin-left: 5;
} */

/* .card p {
    margin-right: 5;
    justify-items: right;
    text-align: right;
} */

.card {
    display: grid;
    grid-template-columns: auto 1fr; /* h3 takes its width, p's take the rest */
    align-items: center; /* vertically align */
    gap: 1rem;
}

.card h3 {
    grid-column: 1; /* force h3 into left column */
}

.card .details {
    grid-column: 2; /* force details into right column */
    display: flex;  /* make p's line up in a row */
    gap: 1rem;      /* spacing between p’s */
    justify-content: right;
}

.routes {
    margin-bottom: 15px;
    min-width: 450px;
    justify-self: center;
}

.routes h2 {
    font-size: 30px;
}

footer {
    text-align: center;
    background-color: var(--accent-background-color);
    min-width: 100%;
}

footer * {
    background-color: var(--accent-background-color);
}

.navigation.show li {
	display: block;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

#menu::before {
	content: "≡";
}

.navigation {
    list-style: none;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}


form {
    color: var(--accent1-color);
    font-family: var(--body-font);
    justify-items: center;
    background-color: #303030;
    padding: 10px 10px;
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
}

form * {
    background-color: #303030;
    justify-content: center;
    justify-items: center;
}

.user_info {
    display: flex;
}

fieldset {
    border: 0;
    padding: 5px 5px;
}

.text {
    display: block;
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
}

input[type="text"], input[type="email"] {
    color: var(--accent1-color);
}

textarea {
    width: fit-content;
    min-width: 250px;
    color: var(--accent1-color);
}

.end {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-top: 5px;
    text-align: center;
}

button {
    background-color: #000;
    color: var(--accent3-color);
}

@media only screen and (min-width: 40em) {
	h1 {
		font-size: 2rem;
	}
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}