:root{
    --pass: #000;
}

nav a:hover {
    color: green;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202020;
    color: #eee;
}

.card {
    display: flex;
}

body {
    max-width: 800px;
}