:root{
    --accent-background-color: mediumblue;
}

nav a:hover {
    color: green;
}

header {
    text-align: center;
    background-color: var(--accent-background-color);
    padding-top: 8px;
}

header nav {
    margin-top: 8px;
}

header nav, header nav * {
    background-color: #252525;
    font-size: 18px;
    padding: 2px;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #303030;
    color: #eee;
}

body {
    max-width: 800px;
}

header h1 {
    background-color: var(--accent-background-color);
    text-align: center;
    font-size: 25px;
}

.hero * {
    min-width: 100%;
}

.card * {
    text-align: center;
}

.card ul {
    padding-left: 10px;
}

.label::before {
    font-weight: bold;
    content: attr(data-label);
}

footer {
    text-align: center;
    background-color: var(--accent-background-color);
}

footer * {
    background-color: var(--accent-background-color);
}

.weather-heading::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-image: url("../images/cloudy_icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.weather-heading .svg {
    display: inline;
    height: 1.2em;
    vertical-align: middle;
}

.weather-heading .emoji {
    display: none;
}

.card {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 1rem;
}

@media only screen and (min-width: 40em) {
    .hero *{
        min-width: 800px;
    }
    .weather-heading::after {
        display: none;
    }
    
    .weather-heading .emoji {
        display: inline;
    }
    
    .weather-heading {
        max-height: 55px;
    }
    
    .card {
        position: absolute;
        width: 265px;
        height: auto;
        z-index: 2;
        background-color: #eee;
        color: #252525;
        padding: 1rem;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    }
    
    .card ul *, .card li * {
        background-color: #eee;
        color: #252525;
        text-align: center;
    }
    
    .card ul {
        list-style: none;
        padding-left: 0;
    }
    
    .card h2 {
        position: relative;
        left: -30px;
        margin-bottom: 1rem;
        padding: 0.5rem;
        background-color: green;
        color: #eee;
        width: calc(100% + 15px);
        box-sizing: border-box;
    }
    
    .card.datacard {
        top: 38%;
        left: 20px;
    }
    
    .card.weathercard {
        top: 10%;
        left: 30em;
    }
    
    .card h2 * {
        background-color: green;
    }
    
    .card h2 .icon emoji {
        background-color: green;
    }
    
}